article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section 
{  
   display: block;  
}  
@font-face
{
    font-family: euphemia;
    src: url('fonts/euphemia/euphemia.ttf');
}
.clear
{
    clear: both;
}
.center
{
    text-align: center;
}
.left
{
    float: left;
}
.pointer
{
    cursor: pointer;
}
a
{
	/*text-decoration:none;*/
	color:#fa7c00;
}
a:hover
{
	color:#ff2500;
}
::selection
{
	background-color:#ff4800;
}
html
{
    background:#ffea00;
    overflow-y: scroll;
}
body
{
    background:#ffea00;
    position:relative;
    z-index:-100;
    color:#fff;
    min-width: 963px;
}
header#banner
{
	width:963px;
	height:157px;
	background:url('images/banner.png') no-repeat transparent;
	margin:auto;
}
header#banner ul 
{
	margin:0 0 0 700px;
}
header#banner ul li
{
	float:left;
	height:31px;
	padding-top:48px;
	padding-left:3px;
}
#wrapper
{
	position:relative;
	z-index:-50;
	width:90%;
	margin:auto;
	margin-top:2%;
	overflow:hidden;
}
nav#topnav
{
	margin: 3% 0 0 50%;
}
nav#topnav li
{
	float:left;
	position:relative;
}
nav#topnav a
{
	font-family:Verdana;
	color:inherit;
	text-decoration:none;
	color:#fff;
	display:block;
	height:100%;
	text-align:center;
	
	text-transform:lowercase;
}

nav#topnav li.home
{
	width:90px;
	height:48px;
	line-height:48px;
	background:url(images/buttons/homebutton.png);
	z-index:115;
}
nav#topnav li.about
{
	background:url(images/buttons/aboutbutton.png) no-repeat center center;
	width:106px;
	height:40px;
	line-height:40px;
	margin:4px 0 4px -15px;
	z-index:114;
}
nav#topnav li.profile
{
	width:123px;
	height:52px;
	background:url(images/buttons/profilebutton.png);
	z-index:113;
	line-height:52px;
	margin:-9px 0 0 -15px;
}
nav#topnav li.leave
{
	background:url(images/buttons/aboutbutton.png) no-repeat center center;
	width:106px;
	height:40px;
	line-height:40px;
	margin:4px 0 4px -25px;
	z-index:112;
}

#slider
{
	position:relative;
	width:850px;
	height:264px;
	background:url("images/slider/slider.png") no-repeat;
	margin:auto;
	margin-top:-25px;
	padding-top:25px
}
img#a
{
	display:none;
}
#slider img#a.current
{
    display:inline;
}
#slider img#a
{
    display:none;
    margin:auto;
    position:absolute;
    width:850px;
    height:250px;
    z-index:-5;
    top:0;
    left:0;
}
#slider img.next
{
    display: none;
    z-index:-2;
}
#slider nav
{
    margin-top:230px;
}
#slider nav#slidernav ul{
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
#slider nav#slidernav ul li{
	display:inline;
}
#slider nav#slidernav ul li{
	display:inline-block;
	cursor:pointer;
	width:11px;
	height:11px;
	line-height:61px;
	text-align:center;
	background:url("images/buttons/sliderbutton.png") no-repeat;
	color:transparent!important;
	color:#FFEA01;
	text-indent:-9999px
}
#slider nav#slidernav ul li.current
{
    cursor:auto;
    background:url("images/buttons/sliderbutton-inactive.png");
}
#specials
{
	display:table;
	margin:auto;
	width:850px;
}
#specials #lcol, #rcol
{
	display:table-cell;
}
.homecol 
{
    display:table-cell;
    text-align:center;
    vertical-align:top;
}
.pub
{
	width:200px;
	height:150px;
	background:white;
	margin:auto;
	margin-bottom:30px;
	
}

footer
{
    border-top: 1px solid #FFEE2C;
    font-size:1.05em;
    margin:auto;
    margin-top:5%;
    width:100%;
    height:200px;
    padding-top:50px;
    text-align:center;
	
}

footer p
{
	margin-top:2%;
}
footer a
{
	color:#fff552;
}

#homeforms form
{
    padding-top: 70px;
    margin: auto;
    border: 10px solid #FBBA2C;
    background:#fec955;
    color:#ff4e00;
    width:75%;
}
#homeforms .hidden
{
    border: none;
    background: transparent;
}
#homeforms h2
{
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 70px;
    line-height: 70px;
    position: relative;
    top: 40px;
    display: block;
    color:#fff;
}
#homeforms
{
    padding:2% 5%;
}
#homeforms section
{
    margin: 0 auto 4% auto; 
}
#homeforms table
{
    margin: 0 auto 4% auto;
}
input
{
    background:#f3eded;
    border:1px solid #b7b7b7;
    border-radius:5px;
}
input:focus
{
    outline:none;
    border: 1px solid #FF7F29;
    box-shadow: 0 0 7px 3px #ff7f29;
}
textarea
{
    background:#f3eded;
    border:1px solid #b7b7b7;
    border-radius:5px;
    width: 500px;
    height: 200px;
}
input.button {
    cursor: pointer;
    border:none;
    background:url("images/buttons/input-submit.png") no-repeat;
    width:88px;
    height:45px;
    color:#fff;
    font-size:1.1em;
    text-indent:-5px;
    line-height:47px;
}
input.button:focus
{
    border:none;
    box-shadow: none;
}
input.button:hover {

}
input.button:active {
   border-top-color: #ffbf00;
   background: #ffbf00;
}
#registercontainer h2
{
    background:url("images/buttons/register.png") no-repeat;
}
#logincontainer h2
{
    background: url("images/buttons/login.png") no-repeat;
}
#homeforms td
{
    height: 30px;
}
#loginform, #registerform
{
    margin-top: 0;
}
#restaurantform input
{
    padding-right:35px;
}
#restaurantform input#telprefix
{
    width:35px;
    color:#999;
    background:#ddd;
    padding:0;
}
#restaurantform input#tel, #restaurantform input.button
{
    padding:0;
}
.special
{
    font-family: euphemia;
    margin: auto;
    width: 50%;
    border: solid 10px #FBBA2C;
    border-top: none;
    border-radius: 5px;
    margin-top: 3%;
    background: #FECA1E;
}
.special header h2
{
    font-size: 30px;
    font-family: "Times new roman", serif;
    text-shadow: 1px 1px 1px #ffe674;
    font-weight: bold;
    text-align: center;
    color: #fe6813;
}
.special header
{
    padding: 10px 20px 10px 20px;
    background: #FBBA2C;
    width: 110%;
    margin: 0 0 0 -8%;
    border: solid 5px #f8a900;
    border-radius: 5px;
}
.special header p
{
    text-align: center;
    text-indent: 40px;
    padding-top: 5px;
}
.special .description
{
    padding: 25px;
    background:#FECA1E;
    color: #fff;
    line-height: 120%;
}
.special header a
{
    text-decoration: none;
}
.special header a:hover
{
    color: #ffe674;
}
.special h3
{
    font-family: "Times new roman", serif;
    text-shadow: 1px 1px 1px #ffe674;
    font-weight: bold;
    color: #fe6813;
    font-size: 25px;
    background:#FECA1E;
    text-indent: 80px;
}
.special hr
{
    color: orange;
    background-color: orange;
    height: 1px;
    border: 0;
    width: 80%;
    border-bottom: 1px solid #ffe241;
}
section#restaurant
{
    color: #ff8500;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}
section#restaurant header
{
    border-bottom: dotted 5px #ffd400;
    padding-bottom: 15px;
    overflow: hidden;
}
section#restaurant header h2
{
    color: #ff4e00;
    font-family:euphemia;
    padding-left: 200px;
    font-size: 30px;
}
section#restaurant header ul
{
    margin-left: 225px;
    list-style: circle;
}
section#restaurant header ul li
{
    padding-top: 10px;
}
section#restaurant header img
{
    float:left;
    border: solid 3px white;
}
section#restaurant #description
{
    margin: 5% 0 0 10%;
    line-height: 18px;
    text-indent: 30px;
}
section#adminrest h3
{
    margin: 20px 0 10px 0;
    text-decoration: underline;
    font-size: 20px;
    color: #ff8500;
}
section#adminrest
{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 2%;
    color: #ffa500;
}
#adminrest 
{
    margin: auto;
}
#restaulist
{
    margin-top: 1000px;
    margin: auto;
    width: 30%;
}
#restaulist ol a
{
    text-decoration: none;    
}
#restaulist ol
{
    height: 40px;
    line-height: 40px;
    border-bottom: solid 2px orange;
}
#week
{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    border-radius: 5px;
}
#week li
{
    float: left;
    border: solid 2px white;
    border-width: 2px 1px;
    width: 14%;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
#week li a
{
    color: white;
    text-decoration: none;
    display: block;
}
#week .last
{
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 1px;
}
#week .first
{
    border-radius: 5px 0 0 5px;
    border-width: 2px 1px 2px 2px;
}
#week .tuesday
{
    background: #ff1f00;
}
#week .monday
{
    background: #50c300;
}
#week .wednesday
{
    background:#ffe200;
}
#week .thursday
{
    background:#101576;
}
#week .friday
{
    background:#00e0c3;
}
#week .saturday
{
    background:#a02db5;
}
#week .sunday a
{
    background:#ff7400;
    background-image: linear-gradient(bottom, rgb(255,151,66) 0%, rgb(240,84,0) 84%);
    background-image: -o-linear-gradient(bottom, rgb(255,151,66) 0%, rgb(240,84,0) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(255,151,66) 0%, rgb(240,84,0) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,151,66) 0%, rgb(240,84,0) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(255,151,66) 0%, rgb(240,84,0) 84%);
    
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,151,66)),
	color-stop(0.84, rgb(240,84,0))
    );
}

#week .sunday a:hover
{
    background-image: linear-gradient(bottom, rgb(255,151,66) 100%, rgb(240,84,0) 0%);
    background-image: -o-linear-gradient(bottom, rgb(255,151,66) 100%, rgb(240,84,0) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(255,151,66) 100%, rgb(240,84,0) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,151,66) 100%, rgb(240,84,0) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(255,151,66) 100%, rgb(240,84,0) 0%);
    
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(255,151,66)),
	color-stop(0, rgb(240,84,0))
    );
}
#specialform, #restaurantform
{
    margin: auto;
    margin-top: 5%;
    width: 40%;
    color: orange;
}
#specialform td, #restaurantform td
{
    height: 50px;
}
form table td
{
    vertical-align:top;
}

.elementRestau
{
    background:url("images/pages/bargain-bg.png") no-repeat;
    width:512px;
    height:264px;
    padding:28px 70px 34px 66px;
}

#content header
{
    margin:auto;
    margin-top:50px;
    width:939px;
    height:153px;
 
    position:relative;
    margin-bottom:80px;
}
#content header h1
{
    width:314px;
    height:81px;

    position:absolute;
    bottom:-30px;
    line-height:81px;
    text-indent:85px;
    font-family:euphemia, sans-serif;
    font-size:2em;
    left:70px;
}
#content.spots header
{
   background:url("images/pages/spots-banner.png") no-repeat;
}

#content.spots header h1
{
   background:url("images/pages/spots-title.png") no-repeat;
}