header
{
    height: 127px;
    background: url("images/banner.png");
    background-repeat: no-repeat;1
}
#content
{
    width: 1000px;
    min-height: 400px;
}
#content p, #content a
{
    color: rgb(250, 115, 25);
    margin: 0 30px 0 30px;
}
#content h2, #content h1
{
    color: rgb(208, 88, 7);
    font-family: Arial;
}
.right
{
    text-align: right;
}
.correct
{
    font-family: euphemia, serif;
    color: green;
}
.incorrect
{
    font-family: euphemia, serif;
    color: red;
}
#talkbubble p{
    width: 100%;
    margin-left: -0.5px;
    font-size: 13px;
}
#talkbubble {
    float: right;
    text-align: left;
    width: 170px; 
    height: 80px; 
    background: white;
    position: relative;
    -moz-border-radius:    10px; 
    -webkit-border-radius: 10px; 
    border-radius:         10px;
    border: solid 6px blue;
    top: -55px;
}
#talkbubble:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid blue;
    border-bottom: 13px solid transparent;
}
#submit
{
    border: solid 2px blue;
    background-color: blue;
    cursor: pointer;
}
form input
{
    font-family: Arial, serif;
}
form td
{
    height: 15px;
}
form .first 
{
    width: 10px;
}
form input[type=text], form input[type=password], form input[type=email], form input[type=date]
{
    width: 300px;
    border-radius: 5px 5px 5px 5px;
}
form tr
{
    height: 40px;
}
form .third
{
    width: 150px;
    padding-left: 10px;
}
p
{
    font-size: 0.8em;
}
#registercontainer, #logincontainer 
{
    text-align: center; /*Just for the button*/
}
#registercontainer .title, #logincontainer .title
{
    cursor: pointer;
    height: 75px;
    width: 250px;
    border: solid 2px green;
    border: none;
    color: white;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 1.8em;
}
#buttonregister
{
    background: url("images/register.png");
    background-position: 0px 0px;
}
#buttonloginform
{
    background: url("images/login.png");
    background-position: 0px 5px;
}
#registercontainer .formcontainer, #logincontainer .formcontainer
{
    text-align: left;
    border: solid 10px rgb(251, 186, 44);
    border-radius: 5px 5px 5px 5px;
    color: rgb(254, 78, 2);
    background-color: rgb(254, 201, 85);
}
.slideUp
{
    border: none;
}
#registercontainer form, #logincontainer form
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#headform
{
    height: 120px;
    margin-left: 20px;
}
#headform span  
{
    margin-left: 120px;
}
#registercontainer
{
    margin-top: 20px;
    margin-bottom: 0px;
}
#last
{
    height: 150px;
}
#last .first
{
    border: solid 2px blue;
    width: 65px;
}
#last .third
{
    border: solid 2px green;
    width: 170px;
}
footer a
{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}
a:hover
{
    color: rgb(250, 115, 25);
}
footer li, header li
{
    display: inline;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 0px;
    margin: 10px;
}
header li
{
    padding: 0;
    margin: 0;
}
header ul
{
    float: right;
    margin-top: 35px;
    margin-right: 270px;
}
footer ul
{
    width: 700px;
    border-top: solid 2px rgb(253, 235, 51);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer .border
{
    border-left: solid 1px white;
}
/* 
------------------------ HOME PAGE -------------------
------------------------ HOME PAGE -------------------
------------------------ HOME PAGE -------------------
------------------------ HOME PAGE -------------------
------------------------ HOME PAGE -------------------
------------------------ HOME PAGE -------------------
*/
#slider
{
    
}
#buttonscontent
{
    float: left;
    margin-left: 60px;
}
#adcontent
{
    float: left;
    margin-left: 40px;
}
#slider 
{
    width: 962px;
}
#slidertop ul
{
    margin-left: 650px;
}
#slidertop button
{   
    cursor: pointer;
    border: none;
    float: left;
}
#slidertop #buttonhome
{
    width: 100px;
    height: 59px;
    background: url('images/homebutton.png');
    position: relative;
    top: 50px;
    right:190px;
}
#slidertop #buttonabout
{
    width: 116px;
    height: 49px;
    background: url('images/aboutbutton.png');
    position: relative;
    top: 60px;
}
#slidertop #buttonprofile
{
    width: 123px;
    height: 52px;
    background: url('images/profilebutton.png');
    position: relative;
    top: 53px;
    left: 210px;
}
li
{
    list-style-type: none;
}
#bargains a, #week a, #advertise a, #specials a, #spots a, #contact a
{
    float: left;
}

ol#controls{
    /*margin:1em 0;*/
    padding:0;
    height:20px;
    margin-left: 350px;
    }
ol#controls li{
    margin:0 0 0 0; 
    padding:0;
    display: inline;
    height:20px;
    }
ol#controls li a{
    float:left;
    height:20px;
    line-height:28px;
/*    border:1px solid #ccc;*/
    background: url('images/buttonslider.png');
    color:#555;
    padding:0 10px;
    text-decoration:none;
    }
ol#controls li.current a{
    background:url('images/buttonslider2.png');
    color:#fff;
    }
ol#controls
{
    position: relative;
    bottom: 80px;
}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
/* ABOUT PAGE */
#about
{
    margin-top: 40px;
}

