article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section 
{  
   display: block;  
}  
@font-face
{
    font-family: euphemia;
    src: url('fonts/euphemia/euphemia.ttf');
}
.clear
{
    clear: both;
}
.center
{
    text-align: center;
}
.left
{
    float: left;
}
.pointer
{
    cursor: pointer;
}
html
{
    background-color: #ffea01;
    overflow-y: scroll;
}
body
{
	
}
header#banner
{
	width:959px;
	height:127px;
	background:url('images/banner.png') no-repeat transparent;
}

header#banner ul 
{
	margin:0 0 0 700px;
}
header#banner ul li
{
	float:left;
	height:31px;
	padding-top:48px;
	padding-left:3px;
}
#wrapper
{
	width:90%;
	margin:auto;
}
nav#topnav
{
	margin: 3% 0 0 50%;
}
nav#topnav li
{
	float:left;
	position:relative;
}
nav#topnav a
{
	font-family:Verdana;
	color:inherit;
	text-decoration:none;
	color:#fff;
	display:block;
	height:100%;
	text-align:center;
	
	text-transform:lowercase;
}

nav#topnav li.home
{
	width:90px;
	height:48px;
	line-height:48px;
	background:url(images/homebutton.png);
	z-index:115;
}
nav#topnav li.about
{
	background:url(images/aboutbutton.png) no-repeat center center;
	width:106px;
	height:40px;
	line-height:40px;
	margin:4px 0 4px -15px;
	z-index:114;
}
nav#topnav li.profile
{
	width:123px;
	height:52px;
	background:url(images/profilebutton.png);
	z-index:113;
	line-height:52px;
	margin:-9px 0 0 -15px;
}
nav#topnav li.leave
{
	background:url(images/aboutbutton.png) no-repeat center center;
	width:106px;
	height:40px;
	line-height:40px;
	margin:4px 0 4px -25px;
	z-index:112;
}

#slider
{
	position:relative;
	width:939px;
	height:264px;
	background:url("images/slider.png");
	margin:auto;
	margin-top:-25px;
	z-index:100;
}
img#a
{
	display:none;
}
#slider + img#a
{
	display:block;
	margin:auto;
	position:relative;
	width:939px;
	height:264px;
	top:-264px;
	z-index:50;
}
